<div ng-controller="MainCtrl">
<h1 class="page-header">Enter a hashtag</h1>
<input type="text" ng-model="tag" typeahead-on-select="getData()" typeahead-min-length="3" typeahead-wait-ms="100" typeahead-editable="false" placeholder="Start typing and our list of keywords will drop down" typeahead="address for address in getTags($viewValue) | filter:$viewValue" class="form-control input-lg">
<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
<div class="clearfix">
  <linechart data="data" options="options" mode=""></linechart>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Top Images</h2>
    <carousel interval="5000">
      <slide ng-repeat="slide in slides">
        <img ng-src="{{ slide }}">
      </slide>
    </carousel>
  </div>
  <div class="col-md-6">
    <h2>Top Links</h2>
    <ul>
      <li ng-repeat="link in links"><a ng-href="{{ link }}">{{ link }}</a></li>
    </ul>
  </div>
</div>
</div>